<!-- your html code here -->

    <div class="row p-5">
        <div class="col-3">
            <img src="https://browser-ivory-silkworm-oy8ni7vq.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg" alt="typing" class="img-fluid rounded-circle">
        </div>
        <div class="col">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quae a voluptatum, explicabo ipsa sed aliquid! Aut aspernatur incidunt ipsa. Assumenda quam maxime at rerum possimus itaque quod, ut obcaecati</p>
        </div>
    </div>

